{{#if @disabled}}
  <span
    aria-disabled="true"
    class={{this.disabledStyle}}
    role="link"
    tabindex="0"
    ...attributes
  >
    {{yield}}
  </span>
{{else}}
  <a
    class={{this.style}}
    ...attributes
    href={{this.href}}
    {{on "click" this.navigate}}
  >

    {{yield}}
  </a>
{{/if}}
